:root {
    --neon-blue: #00f2ff;
    --dark-bg: #050505;
    --alert-red: #ff003c;
}

body {
    background-color: var(--dark-bg);
    color: var(--neon-blue);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
}

/* Signature Développeur */
.dev-sign {
    font-size: 0.7em;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-bottom: 20px;
    opacity: 0.8;
    text-shadow: 0 0 5px var(--neon-blue);
}

.status-line { font-size: 0.8em; margin-bottom: 5px; }
.label { opacity: 0.6; }
.value { font-weight: bold; }

#scan-zone {
    width: 180px;
    height: 180px;
    border: 2px solid var(--neon-blue);
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 242, 255, 0.3);
    background: radial-gradient(circle, rgba(0,242,255,0.1) 0%, rgba(0,0,0,1) 100%);
}

.scanner-bar {
    width: 100%;
    height: 4px;
    background: var(--neon-blue);
    position: absolute;
    box-shadow: 0 0 15px var(--neon-blue);
    animation: scanning 2s infinite ease-in-out;
}

@keyframes scanning {
    0% { top: 0; }
    50% { top: 100%; }
    100% { top: 0; }
}

.glitch {
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--alert-red);
}

.hidden { display: none; }

#countdown {
    font-size: 3.5em;
    color: var(--alert-red);
    text-shadow: 0 0 15px var(--alert-red);
    margin: 20px 0;
}

#result-screen {
    text-align: center;
    border: 1px solid var(--alert-red);
    padding: 20px;
    background: rgba(255, 0, 60, 0.05);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 5px var(--alert-red); }
    50% { box-shadow: 0 0 20px var(--alert-red); }
    100% { box-shadow: 0 0 5px var(--alert-red); }
}

.blink { animation: blinker 1s linear infinite; }
@keyframes blinker { 50% { opacity: 0; } }
